/* Reset and Global Styles */
body {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
}

html, body {
  height: 100%;
}

/* Code Styling */
code {
  display: block;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
}

/* Blog Layout */
.blog-layout {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: auto;
  padding: 20px;
}

/* For smaller screens, adjust layout */
@media (max-width: 768px) {
  .blog-layout {
    flex-direction: column;
    padding: 10px;
  }
}

/* Blog Post Container */
.blog-post-container {
  flex: 1;
  padding: 20px;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .blog-post-container {
    padding: 10px;
  }
}

/* Blog Post Content */
.blog-post-content {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.6;
}

/* Adjust font size for smaller screens */
@media (max-width: 768px) {
  .blog-post-content {
    font-size: 16px; /* Adjust as needed */
  }
}

/* Blog Post Headers */
.blog-post h1, .blog-post h2 {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

/* Navigation Styles */
.blog-post-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.blog-post-navigation a {
  margin: 0 10px; 
  flex: 1;
  text-align: center;
  word-wrap: break-word;
  color: white;
  text-decoration: none;
}

/* Navigation Buttons */
.nav-button {
  background-color: #007acc;
  padding: 10px 15px;
  border-radius: 4px;
  transition: all 0.2s;
}

.nav-button:hover {
  background-color: #004a7c;
}

/* Links */
.blog-layout a {
  color: rgb(23, 123, 223);
}

.blog-layout a:visited {
  color: rgb(23,120,120);
}

/* Home Button */
.home-button {
  background-color: #f7f7f7;
  color:  #007acc;
}

.home-button:hover {
  background-color: #e4e4e4;
}

/* Text, code, and paragraph adjustments for small screens */
@media (max-width: 768px) {
  pre, code, p {
    font-size: 12px; /* Adjust as needed */
    word-break: break-word;
  }
}
