
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background: #f8f8f8;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Hero Section Styling */
.hero {
  background: linear-gradient(120deg, #3498db, #8e44ad);
  color: white;
  padding: 80px 20px;
  text-align: center;
  border-radius: 8px;
}

.hero h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.skills-section, .contact-section {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Space between this section and others */
}


.skills-section {
  margin: 0 auto 40px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Contact Section */
.contact-section {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 

0.1);
  text-align: center;
}
input {
  max-width: 85%;
}
/* Content Grid Styling */
.content-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 2000px; /* Adjust based on your layout preference */
  margin: 0 auto; /* Center the content grid */
}

/* Short Notes Section */
.latest-posts {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Social Links */
.social-links a {
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #007acc;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px; /* Added space between social links */
}



.social-links a:hover {
  background-color: #005a9c;
}

/* Back Button */
.absolute {
top: 20px;
left: 20px;
position: fixed;
}

.back-button {
  background-color: #007acc;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 4px;

  border: none; /* Removed border */
}

.back-button:hover {
  background-color: #005a9c;
}

/* Content Grid Styling */
.content-grid {
  display: flex;
  justify-content: space-between; /* Distributes space between the child elements */
  flex-wrap: nowrap; /* Prevents the items from wrapping into the next row */
  padding: 20px;
  max-width: 100%; /* Utilize the full width of the page */
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .content-grid {
    flex-wrap: wrap; /* Allow items to wrap into the next row on smaller screens */
  }
  
  .skills-section, .contact-section, .latest-posts {
    flex-basis: 100%; /* On smaller screens, each section takes up the full width */
    margin-right: 0; /* Remove the margin on smaller screens */
  }
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .skills-section,
  .contact-section {
    margin: 20px auto; /* Reduced margin on smaller screens */
  }
}